.header-container {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(222 226 226);
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 5px 25px;
  z-index: 99;
}

.company-logo {
  height: 43px;
}

.cart-block {
  padding-top: 23px;
}

.cart-block span {
  position: absolute;
  top: 6px;
  right: 26px;
  font-weight: 600;
  color: #b02f07;
  padding: 2px;
  display: inline-block;
  border-radius: 10px;
  background-color: #e1cbcb;
  min-width: 18px;
  display: flex;
  justify-content: center;
}

.cart-block img {
  height: 28px;
}